{
    "swagger": "2.0",
    "info": {
        "description": "parameter 에 아무런 값을 넣지 않으면, 모든 값을 불러옵니다.",
        "title": "ManagingServer API",
        "contact": {
            "name": "ManagingServer API Support",
            "email": "uskawjdu@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "uskawjdu.iptime.org",
    "basePath": "/",
    "paths": {
        "/api/postInst": {
            "post": {
                "description": "get struct array by ID",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "operationId": "get-struct-array2-by-string",
                "parameters": [
                    {
                        "description": "request job",
                        "name": "loginUserRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/router.InstructionD"
                        }
                    }
                ],
                "responses": {}
            }
        },
        "/view/ApplicationDB": {
            "get": {
                "description": "Retrieves application database records by UUID, or all records if no UUID is provided",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "ApplicationDB"
                ],
                "summary": "Get application database records",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Application UUID",
                        "name": "uuid",
                        "in": "query"
                    }
                ],
                "responses": {}
            }
        },
        "/view/JobDataDB": {
            "get": {
                "description": "Retrieves all job data from the database",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "JobDataDB"
                ],
                "summary": "Get all job data",
                "responses": {}
            }
        },
        "/view/OperationLogDB": {
            "get": {
                "description": "Retrieves all operation logs from the database",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "OperationLogDB"
                ],
                "summary": "Get all operation logs",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Agent UUID",
                        "name": "uuid",
                        "in": "query"
                    }
                ],
                "responses": {}
            }
        },
        "/view/SystemInfoDB": {
            "get": {
                "description": "Retrieves system information records by UUID, or all records if no UUID is provided",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "SystemInfoDB"
                ],
                "summary": "Get system information records",
                "parameters": [
                    {
                        "type": "string",
                        "description": "System UUID",
                        "name": "uuid",
                        "in": "query"
                    }
                ],
                "responses": {}
            }
        },
        "/view/agentStatus": {
            "get": {
                "description": "Retrieves agent status by UUID, or all agents if no UUID is provided",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "AgentStatus"
                ],
                "summary": "Get agent status",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Agent UUID",
                        "name": "uuid",
                        "in": "query"
                    }
                ],
                "responses": {}
            }
        }
    },
    "definitions": {
        "router.InstructionD": {
            "type": "object",
            "properties": {
                "agentUUID": {
                    "type": "string",
                    "default": "09a4e53c7a1c4b4e9a519f36df29d8a2"
                },
                "instructionUUID": {
                    "type": "string",
                    "default": "32a2833486414af9bc4596caef585538"
                },
                "procedureID": {
                    "type": "string",
                    "default": "P_DefenseEvasion_0002"
                }
            }
        }
    }
}