basePath: /
definitions:
  router.InstructionD:
    properties:
      agentUUID:
        default: 09a4e53c7a1c4b4e9a519f36df29d8a2
        type: string
      instructionUUID:
        default: 32a2833486414af9bc4596caef585538
        type: string
      procedureID:
        default: P_DefenseEvasion_0002
        type: string
    type: object
host: uskawjdu.iptime.org
info:
  contact:
    email: uskawjdu@gmail.com
    name: ManagingServer API Support
  description: parameter 에 아무런 값을 넣지 않으면, 모든 값을 불러옵니다.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: ManagingServer API
  version: "1.0"
paths:
  /api/postInst:
    post:
      consumes:
      - application/json
      description: get struct array by ID
      operationId: get-struct-array2-by-string
      parameters:
      - description: request job
        in: body
        name: loginUserRequest
        required: true
        schema:
          $ref: '#/definitions/router.InstructionD'
      produces:
      - application/json
      responses: {}
  /view/ApplicationDB:
    get:
      description: Retrieves application database records by UUID, or all records
        if no UUID is provided
      parameters:
      - description: Application UUID
        in: query
        name: uuid
        type: string
      produces:
      - application/json
      responses: {}
      summary: Get application database records
      tags:
      - ApplicationDB
  /view/JobDataDB:
    get:
      description: Retrieves all job data from the database
      produces:
      - application/json
      responses: {}
      summary: Get all job data
      tags:
      - JobDataDB
  /view/OperationLogDB:
    get:
      description: Retrieves all operation logs from the database
      parameters:
      - description: Agent UUID
        in: query
        name: uuid
        type: string
      produces:
      - application/json
      responses: {}
      summary: Get all operation logs
      tags:
      - OperationLogDB
  /view/SystemInfoDB:
    get:
      description: Retrieves system information records by UUID, or all records if
        no UUID is provided
      parameters:
      - description: System UUID
        in: query
        name: uuid
        type: string
      produces:
      - application/json
      responses: {}
      summary: Get system information records
      tags:
      - SystemInfoDB
  /view/agentStatus:
    get:
      description: Retrieves agent status by UUID, or all agents if no UUID is provided
      parameters:
      - description: Agent UUID
        in: query
        name: uuid
        type: string
      produces:
      - application/json
      responses: {}
      summary: Get agent status
      tags:
      - AgentStatus
swagger: "2.0"
