basePath: /
definitions:
  router.InstructionD:
    properties:
      action:
        default: ExecutePayLoad
        type: string
      agentUUID:
        default: 5610eb3154c742d4bc95ce9194166ac4
        type: string
      procedureID:
        default: P_PrivilegeEscalation_0001
        type: string
    type: object
host: uskawjdu.iptime.org
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is a sample server Petstore server.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Swagger Example API
  version: "1.0"
paths:
  /api/postInst:
    post:
      consumes:
      - application/json
      description: 이 API는 다양한 작업을 실행하는 명령어를 포함합니다.
      operationId: get-struct-array2-by-string
      parameters:
      - description: request job. 'Action' 필드에는 'ExecutePayLoad', 'ExecuteCleanUp',
          'GetSystemInfo', 'GetApplication', 'StopAgent', 'ChangeProtocolToTCP', 'ChangeProtocolToHTTP'
          값이 들어갈 수 있습니다.
        in: body
        name: loginUserRequest
        required: true
        schema:
          $ref: '#/definitions/router.InstructionD'
      produces:
      - application/json
      responses: {}
      summary: ExecutePayLoad ExecuteCleanUp GetSystemInfo GetApplication StopAgent
  /view/ApplicationDB:
    get:
      description: Retrieves application database records by UUID, or all records
        if no UUID is provided
      parameters:
      - description: Application UUID
        in: query
        name: uuid
        type: string
      produces:
      - application/json
      responses: {}
      summary: Get application database records
      tags:
      - ApplicationDB
  /view/JobDataDB:
    get:
      description: Retrieves all job data from the database
      produces:
      - application/json
      responses: {}
      summary: Get all job data
      tags:
      - JobDataDB
  /view/OperationLogDB:
    get:
      description: Retrieves all operation logs from the database
      parameters:
      - description: Agent UUID
        in: query
        name: uuid
        type: string
      produces:
      - application/json
      responses: {}
      summary: Get all operation logs
      tags:
      - OperationLogDB
  /view/SystemInfoDB:
    get:
      description: Retrieves system information records by UUID, or all records if
        no UUID is provided
      parameters:
      - description: System UUID
        in: query
        name: uuid
        type: string
      produces:
      - application/json
      responses: {}
      summary: Get system information records
      tags:
      - SystemInfoDB
  /view/agentStatus:
    get:
      description: Retrieves agent status by UUID, or all agents if no UUID is provided
      parameters:
      - description: Agent UUID
        in: query
        name: uuid
        type: string
      produces:
      - application/json
      responses: {}
      summary: Get agent status
      tags:
      - AgentStatus
swagger: "2.0"
